.small-title {
  background: #edeff2 none repeat scroll 0 0;
  font-size: 16px;
  line-height: 1;
  width: 19%;
  height: 20px;
  position: absolute;
  top: -10px;
  left: 40px;
}
.authorBox {
  width: 100%;
  display: flex;
  border: 1px dotted #dadada;
  padding: 30px;
  position: relative;
  margin-bottom: 20px;
}
.authorProfile {
  width: 100%;
  display: flex;
  margin: 20px;
  justify-content: space-evenly;
}
.authorProfile img {
  width: 100px;
  height: 100px;
}
.authorInfo {
  width: 60%;
  /* padding: 30px; */
}
.authorInfo .iconList {
  width: 100%;
}
.authorInfo .iconList ul li {
  margin-left: 10px;
}
.authorInfo .iconList ul li:first-child {
  margin-left: 0;
}
