.authorbar {
  width: 100%;
  height: 110px;
  border-top: 1px dashed #dadada;
  border-bottom: 1px dashed #dadada;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.author {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.author h2,
.author p {
  font-size: 24px;
  line-height: 1;
  padding: 0;
  margin: 0;
}
.menu {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu p {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu a,
.menu p {
  color: black;
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
  text-decoration: none;
  margin: 0 10px;
}
.menu a:hover {
  color: #3197d6;
}

@media screen and (max-width: 432px) {
  .authorbar {
    justify-content: space-around;
    margin: 0;
    padding: 0;
  }
  .author {
    width: 45%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .author h2,
  .author p {
    font-size: 20px;
    line-height: 1;
    padding: 0;
    margin: 0;
  }
  .author p {
    display: none;
  }
  .menu {
    width: 50%;
  }
}
