@media screen and (max-width: 432px) {
  .mainpage {
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0 !important;
    align-items: center;
  }
  .secondSlide {
    width: 100%;
    flex-direction: column;
  }
  .FashionPost {
    flex-direction: column !important;
  }
  .post {
    width: 100% !important;
  }
}
